/*--------------------------------------------------------------
# Aside
--------------------------------------------------------------*/

@media (--wide-menu-query) {

.aside-navigation {
	position: fixed; /* or choose `absolute` depending on desired behavior*/
	width: 225px;	
	border-bottom: solid 1px;
	font-size:1rem;
}

.aside-navigation .aside-container{
	display: none;
}

.aside-navigation--expanded {
	background-color: var(--color-theme-white);
	position: fixed; /* or choose `absolute` depending on desired behavior*/
	top: 0;
	bottom: 0;
	width: 225px;
	font-size:1rem;
}

}

@media (--narrow-menu-query) {

	
.aside-navigation {
	background-color: var(--color-theme-white);
	position: fixed; /* or choose `absolute` depending on desired behavior*/
	width: 100%;
	border-bottom: solid 1px;	
}
.aside-navigation .aside-container{
	display: none;
}

.aside-navigation--expanded {
	background-color: var(--color-theme-white);
	position: fixed; /* or choose `absolute` depending on desired behavior*/
	top: 0;
	bottom: 0;
	width: 100%;
}

.headroom--unpinned .aside-navigation{ 
	transform: translateY(-100%);
	
}

}

/** No MEDIA Query **/

.aside-container ul{
	margin: 0;
	padding: 0;
}

.aside-navigation .aside-menu__link-text {
	display: none;
}

.aside-navigation .aside-menu__item>.aside-menu__link {
	align-self: flex-end;
}

.aside-navigation .aside-menu__item>.aside-menu__link {
	padding: .6em 1.4em;
}


.aside-navigation--expanded .aside-brand svg {
	transform: rotate(-90deg);
}

.aside-navigation .aside-brand svg {
	transform: rotate(90deg);
}

.aside-brand{
	padding: 0 1rem;
	transition: all .3s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
    padding: 0 15px;
    height: 65px;
}

.aside-brand-toggler{
	display: inline-block;
    border: 0;
    background: 0 0;
    /* outline: 0!important; -- umrandung beim klicken*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aside-menu__item.aside-menu__item--active{
	transition: background-color .3s;
    background-color: #f3f4f5;
}

.aside-menu__item{
	display: flex;
	flex-direction: column;
    flex-grow: 1;
    float: none;
	padding: 0;
}

.aside-menu__item>.aside-menu__link {
	padding: 15px 15px;
	cursor: pointer;
	min-height: 44px;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0;
    text-decoration: none;
    position: relative;
}

.aside-menu__link .aside-menu__link-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 2em;
	flex: 0 0 2em;
	font-size: 1.3rem;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
    line-height: 0;
}

 .aside-menu__nav>.aside-menu__section {
    margin: 20px 0 0 0;
	height: 40px;
	display: flex;
    padding: 0 25px;
}
.aside-menu__nav>.aside-menu__section .aside-menu__section-text {
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .3px;
}
/*--------------------------------------------------------------
# Arteeo - Logo
--------------------------------------------------------------*/
.arteeo-logo-gradient-animate {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 2rem;
	text-transform: uppercase;
	background: var(--color-link);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
